<footer class="footer layout_padding">
         <div class="container">
            <div class="row">

               <div class="col-md-4 col-sm-12">
                  <a href="index.html"><img class="img-responsive" src="/static/images/logo_footer.png" alt="#"></a>
                  <div class="footer_link_heading">
                     <div class="footer_menu margin_top_30">
                     <ul>
                        <li><a href="tel:0774429762">077 442 9762</a></li>
                        <li><a href="#">minhtri@gmail.com</a></li>
                        <li><a href="#">950/8 Nguyễn Kiệm, Gò vấp, Tp.Hồ Chí Minh</a></li>
                     </ul>
                  </div>
                  </div>
               </div>

               <div class="col-md-8">
                 <div class="row">
                    <div class="col-md-4 col-sm-12">
                  <div class="footer_link_heading">
                     <h3>EDUCATION</h3>
                  </div>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Do</a></li>
                        <li><a href="#">Kungfu</a></li>

                     </ul>
                  </div>
               </div>

               <div class="col-md-4 col-sm-12">
                  <div class="footer_link_heading">
                     <h3>CATEGORIES</h3>
                  </div>
                  <div class="footer_menu">
                    <ul>
                       <li><a href="#">Arts &amp; Design</a></li>
                       <li><a href="#">Business</a></li>
                       <li><a href="#">Computer</a></li>
                       <li><a href="#">Data entery</a></li>
                    </ul>
                  </div>
               </div>

               <div class="col-md-4 col-sm-12">
                  <div class="footer_link_heading">
                     <h3>USEFUL LINKS</h3>
                  </div>
                  <div class="footer_menu">
                    <ul>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="#">Success Stories</a></li>
                       <li><a href="#">Shop</a></li>
                       <li><a href="#">Privacy policy</a></li>
                       <li><a href="#">Contact search</a></li>
                       <li><a href="#">Jobs and vacancies</a></li>
                    </ul>
                  </div>
               </div>
                 </div>
               </div>

            </div>
         </div>
      </footer>